<div class="cs-cLogo{% for modifier in modifiers %} cs-cLogo--{{modifier}}{% endfor %}{% for xclass in xclasses %} {{xclass}}{% endfor %}">
  <a href="{{url}}" class="cs-cLogo__link">
    <img class="cs-cLogo__logo" src="{{image.src}}" alt="{{image.alt}}" />
  </a>
</div>
