<div class="cLogo{% for modifier in modifiers %} cLogo--{{modifier}}{% endfor %}{% for xclass in xclasses %} {{xclass}}{% endfor %}">
  <a href="{{url}}" class="cLogo__link">
    <img class="cLogo__logo" src="{{image.src}}" alt="{{image.alt}}" />
  </a>
</div>
